{% extends 'app/base.html' %} {% block title %}Wishlist{% endblock %}
{% load static %}
{% block body %}
<section class="vh-100">

  <div class="row">
    {% for item in wishlist_item%}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card product-grid">
        <div class="product-image">
          <a href="">
            <img src="{{item.product.photo.url}}" class="card-img-top" alt="Product Image" />
          </a>
          {% if product.stock > 0 %}
          <span class="product-stock product-instock">In Stock</span>
          {% else %}
          <span class="product-stock product-outofstock">Out Of Stock</span>
          {% endif %}
          <ul class="product-links">
            <li><a href="">
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn a btn-link p-0"><i class="fas fa-shopping-cart"></i></button>
                </form>
              </a>
            </li>
            <li>
              <a href="{% url 'add_wishlist' item.product.id  %}"><i class="fa fa-heart"></i></a>
            </li>
            <li>
              <a href="{% url 'productd' item.product.id %}"><i class="fa fa-eye"></i></a>
            </li>
          </ul>
        </div>
        <div class="card-body product-content h-4">
          <h5 class="card-title title">
            <a href="{% url 'productd' item.product.id %}">{{item.product.name}} </a>
          </h5>

          <p class="card-text price">Price: Rs {{ item.product.price }}</p>
          <!-- Add more product details as needed -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

  <!-- <div class="col-md-9">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"> My WishList</p>
    {% if messages %}
    <div class="row">
      <div class="col-md-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div> -->
  {% endblock %}